/main/kotlin/deneme_Tahtası/adasd.kt
/main/kotlin/deneme_Tahtası/calssss.kt
/main/kotlin/deneme_Tahtası/deneme.kt
/main/kotlin/deneme_Tahtası/deneme2.kt
/main/kotlin/deneme_Tahtası/deneme3.kt
/main/kotlin/deneme_Tahtası/deneme_Tahtası.iml
/main/kotlin/deneme_Tahtası/dfsdf.kt
/main/kotlin/deneme_Tahtası/hesap.kt
/main/kotlin/deneme_Tahtası/Not_hesaplama.kt
/main/kotlin/deneme_Tahtası/Sayıeki.kt
/main/kotlin/deneme_Tahtası/tahta_For_loop.kt
/main/kotlin/deneme_Tahtası/while_deneme.kt
/main/kotlin/deneme_Tahtası/When_denem.kt
/main/kotlin/deneme_Tahtası/DENEME.kt
